<ng-container *ngIf='step === 1 && +mode === MODE_UNAUTH && !hash'>
  <div class="site-content__subtitle">Восстановление пароля</div>

  <div class="errors" *ngIf="errors.length">
    <div class="errors__item" *ngFor="let error of errors">{{error}}</div>
  </div>

  <form class="settings__form" [formGroup]="form" (ngSubmit)="onForgot()" novalidate>
    <label class="settings__label">
      <div class="settings__field-name">Почта / Телефон</div>
      <input type="text" class="settings__field field" placeholder="+7 (987) 654 32 10"
        formControlName="value">
    </label>
    <div class="settings__buttons settings__buttons_top flex">
      <div class="settings__button">
        <button [disabled]="form.invalid || isLoading" type="submit" class="btn btn_darkgray">Отправить</button>
      </div>
      <div class="settings__button">
        <a routerLink="/auth/sign-in" class="btn btn_small">Отмена</a>
      </div>
    </div>
  </form>
  <div class="site-content__bottom">
    <div class="site-content__bottom-text">
      <span>Не помните адрес электронной почты / телефон, оставленные при регистрации Кабинета?</span>&nbsp;
      <a href="https://qbfin.ru/contacts/offices/" target="_blank">Обратитесь в один из офисов компании QBF</a>
    </div>
  </div>
</ng-container>

<ng-container *ngIf='step === 1 && +mode === MODE_AUTH || step === 1 && +mode === MODE_UNAUTH && hash' >
  <div class="errors" *ngIf="errors.length">
    <div class="errors__item" *ngFor="let error of errors">{{error}}</div>
  </div>
    <app-password-change [mode]="mode" (sendOutput)="authPasswordInputSuccess($event)"></app-password-change>
</ng-container>



<ng-container *ngIf='step === 2'>
  <div [class.site-content__body]="+mode === MODE_AUTH">
  <div [class.register__title]="+mode === MODE_AUTH" [class.site-content__title]="+mode === MODE_UNAUTH">Код подтверждения</div>

  <div *ngIf="!smsError;else codeToEmail" class="site-content__subtitle">На Ваш телефон отправлено смс к кодом подтверждения. Необходимо ввести этот код
    в нижестоящее поле.
  </div>
  <ng-template #codeToEmail>
    <div class="site-content__subtitle">На Ваш email отправлен код подтверждения. Необходимо ввести этот код
      в нижестоящее поле.
    </div>
  </ng-template>

  <div class="errors" *ngIf="errors.length">
    <div class="errors__item" *ngFor="let error of errors">{{error}}</div>
  </div>
  <form class="settings__form" [formGroup]="formConfirm" (ngSubmit)="onSubmitSms()" novalidate>
    <label class="settings__label settings__label_register">
      <div class="settings__field-name">Введите код подтверждения</div>
      <input type="text" class="settings__field field field-number" mask="0 0 0 0 0 0" placeholder="_ _ _ _ _ _" formControlName="code">
    </label>
    <label class="settings__label">
      <button type="submit" [disabled]="formConfirm.invalid || isLoading" class="btn btn_darkgray">Сохранить</button>
    </label>
    <div class="settings__buttons settings__buttons_top flex">
      <div *ngIf="!smsError" class="settings__button">
        <input *ngIf="+mode === MODE_UNAUTH"
               type="button"
               [disabled]="isDisableResendSms"
                 [class.disabled]="isDisableResendSms"
               data-src="#code-modal"
               data-fancybox data-modal="true"
               class="btn btn_small"
               value="Выслать код повторно"
               (click)="onResendSms()">
        <input *ngIf="+mode === MODE_AUTH"
               type="button"
               [disabled]="isDisableResendSms"
                 [class.disabled]="isDisableResendSms"
                class="btn btn_small"
                value="Выслать код повторно"
                (click)="onResendSms()">
        <div *ngIf="isDisableResendSms" class="timer_cover" [innerHTML]='counter'></div>
      </div>
      <div  *ngIf="!smsError" class="settings__button">
        <input type="button"
        [disabled]="isDisableResendEmail"
        [class.disabled]="isDisableResendEmail"
        class="btn btn_small"
        value="Выслать код на почту"
        (click)="sendToMail()">
 <div *ngIf="isDisableResendEmail" class="timer_cover" [innerHTML]='counterEmail'></div>
      </div>
      <div *ngIf="smsError" class="settings__button">
        <input type="button"
               [disabled]="isDisableResendEmail"
               [class.disabled]="isDisableResendEmail"
               class="btn btn_small"
               value="Выслать код повторно"
               (click)="sendToMail()">
        <div *ngIf="isDisableResendEmail" class="timer_cover" [innerHTML]='counterEmail'></div>
      </div>

      <div *ngIf="smsError"  class="settings__button">
        <a class="btn btn_green" *ngIf="+mode === MODE_UNAUTH" routerLink="/auth/sign-in">Отмена</a>
        <a *ngIf="+mode === MODE_AUTH" class="btn btn_green" routerLink="/account">Oтмена</a>
      </div>
    </div>
    <label *ngIf="!smsError" class="settings__label">
        <a class="btn btn_green" *ngIf="+mode === MODE_UNAUTH" routerLink="/auth/sign-in">Отмена</a>
        <a class="btn btn_green" *ngIf="+mode === MODE_AUTH" routerLink="/account">Отмена</a>
    </label>
  </form>

  <app-auth-modal id="code-modal" style="display: none;" title='Новый код подтверждения'
                  description='Вам направлен новый код подтверждения. Введите его и закончите процедуру
    регистрации Личного кабинета.'>
  </app-auth-modal>
  </div>
</ng-container>

<app-auth-modal id="register-modal"
                style="display: none;"
                title='Проверьте Вашу почту'
                description="На Вашу почту (указанную Вами при регистрации Кабинета) отправлено письмо. Перейдите по ссылке из этого письма для завершения процедуры смены пароля."
                >

</app-auth-modal>
<app-auth-modal id="change-password-success-modal" style="display: none;" title='Уважаемый клиент!'
  description="Ваш пароль успешно обновлен.">

</app-auth-modal>



<!-- end technique-modal -->
