<div class="header-entrance-mobile__items">
  <div class="header-entrance-mobile__caption">Связь с финансовым советником</div>
  <a href="tel:+74959889821" class="header-entrance-mobile__phone">+7(495) 988 98 21</a>
</div>
<div class="header-entrance-mobile__items">
  <div class="header-entrance-mobile__caption">техническая поддержка</div>
  <a href="tel:+74959889821" class="header-entrance-mobile__phone">+7 (495) 988 98 21</a>
</div>
<div class="header-entrance-mobile__restore">
  <div class="header-entrance-mobile__restore-text">Восстановление <a >логина</a> / <a >пароля</a>
  </div>
</div>
<div class="header-entrance-mobile__link">
  <ul>
    <li><a href="https://qbfin.ru">QBF ||| Portfolio management</a></li>
    <li><a href="http://qbfam.ru">QBF ||| Asset management</a></li>
  </ul>
</div>
