<div class="footer-block">
<div class="footer__contents">
    <div class="wrapper">
      <div class="footer__content flex">
        <div class="footer__links">
          <ul>
            <li><a [routerLink]="'/catalog'">Каталог продуктов</a></li>
            <li class="hide_mobile">|</li>
            <li><a target="_blank" href="https://qbfin.ru/documents/privacy-policy/">Конфиденциальность</a></li>
            <!-- <li class="show_pc">|</li> -->
            <!-- <li>Техническая поддержка: <span class="br-mobile"></span> <a href="tel:+74959889821">+7 (495) 988 98 21</a> <a href="mailto:invest@qbfin.ru">INVEST@QBFIN.RU</a></li> -->
          </ul>
        </div>
        <div class="footer__copiright">QBF • {{year}}</div>
      </div>
    </div>
    <div (click)="setShow()" class="footer__toggler">Доп.информация</div>
<div *ngIf="isShow" class="wrapper_disclaimer list-disclaimer list-disclaimer-main product-anons-v2 product-anons-v2__calc-subtitle"
  [innerHTML]='this.disclaimer'></div>
    <div *ngIf="isShow" class="footer-block__disclaimer filter__desription">
      <p>
        ООО ИК «КьюБиЭф». Лицензия на осуществление брокерской деятельности № 045-12805-100000,
        Лицензия на осуществление дилерской деятельности № 045-12816-010000,
        Лицензия на осуществление деятельности по управлению ценными бумагами № 045-12828-001000,
        выданы ФСФР России 24 декабря 2009 года без ограничения срока действия.
        Лицензия на осуществление депозитарной деятельности № 045-14078-000100 выдана Банком России от
        08 августа 2019 года без ограничения срока действия.
        ООО ИК «КьюБиЭф» включено в единый реестр инвестиционных советников (дата включения 20.09.2019)
      </p>

      <p>
        Перед заключением договора Вам необходимо ознакомиться с информацией, размещенной по адресу https://qbfin.ru/documents/information-for-clients/ .
      </p>

      <p>
        <strong>ООО ИК «КьюБиЭф» обращает внимание клиентов, являющихся физическими лицами, что средства,
          переданные в доверительное управление, денежные средства на брокерском счете,
          производные финансовые инструменты, ценные бумаги не являются банковским вкладом.
          Денежные средства, переданные для приобретения финансового инструмента,
          внесённые в качестве обеспечительного платежа по внебиржевому опционному договору,
          соглашению о подписке, не являются банковским вкладом и не подлежат страхованию в соответствии с
          Федеральным законом от 23 декабря 2003 года № 177-ФЗ «О страховании вкладов физических лиц в банках Российской Федерации».
          Государство не дает никакой гарантии возврата и сохранности указанных средств.</strong>
      </p>

      <p>
        Стоимость активов может увеличиваться и уменьшаться, результаты инвестирования в прошлом не определяют доходы в будущем.
        Прежде чем заключить договор доверительного управления, следует внимательно ознакомиться с условиями договора доверительного управления.
        Любые инвестиции в объекты инвестирования, определенные инвестиционной декларацией,
        являются высокорискованными по своему характеру.
        Все сделки и операции с имуществом, переданным учредителем управления в доверительное управление,
        совершаются без поручений учредителя управления.
        Все решения об инвестировании в конкретные объекты инвестирования принимаются управляющим по собственному усмотрению,
        исходя из условий инвестиционной декларации.
      </p>

      <p>
        Представленная информация не является индивидуальной инвестиционной рекомендацией,
        и финансовые инструменты либо операции, упомянутые в ней, могут не соответствовать
        Вашему инвестиционному профилю и инвестиционным целям (ожиданиям).
        Определение соответствия финансового инструмента либо операции Вашим интересам,
        инвестиционным целям, инвестиционному горизонту и уровню допустимого риска является Вашей задачей.
        ООО ИК «КьюБиЭф» не несет ответственности за возможные убытки в случае совершения операций либо инвестирования в финансовые инструменты,
        упомянутые в данной информации, и не рекомендует использовать указанную информацию в качестве единственного источника информации при принятии инвестиционного решения.
        Информация не может рассматриваться как публичная оферта, предложение или приглашение приобрести, или продать какие-либо ценные бумаги,
        иные финансовые инструменты, совершить с ними сделки. Информация не может рассматриваться в качестве гарантий или обещаний в будущем доходности вложений,
        уровня риска, размера издержек, безубыточности инвестиций. Результат инвестирования в прошлом не определяет дохода в будущем.
        Не является рекламой ценных бумаг и/или иных финансовых инструментов и/или финансовых услуг.
        Перед принятием инвестиционного решения инвестору необходимо самостоятельно оценить экономические риски и выгоды, налоговые, юридические,
        бухгалтерские последствия заключения сделки, свою готовность и возможность принять такие риски.
        Клиент также несет расходы на оплату брокерских и депозитарных услуг, подачи поручений по телефону, иные расходы, подлежащие оплате клиентом.
        Полный список тарифов ООО «ИК «КьюБиЭф» содержится в приложении №11 к Договору оказания брокерских услуг (договор присоединения)
        Общества с ограниченной ответственностью Инвестиционная Компания «КьюБиЭф» (https://qbfin.ru/company/documents/) (Далее – Договор).
        Перед совершением сделок вам также необходимо ознакомиться с Декларацией о рисках, связанных с осуществлением операций на фондовом,
        срочном и иных финансовых рынках, размещенной в Приложении №5 к Договору.
      </p>

      <p>
        Получить информацию о продуктах, ознакомиться с условиями Договоров и иными документами,
        предусмотренными нормативными актами в сфере финансовых рынков,
        можно по адресу: Россия, 123112, г. Москва, Пресненская набережная, дом 8, строение 1, этаж 11, помещение IN,
        комната 11, тел.: +7 (495) 988-98-21, а также в информационно-телекоммуникационной сети Интернет по адресу: https://qbfin.ru.
      </p>

      <p>
        Любая информация и любые суждения, мнения и оценки, приведённые на данной странице,
        являются суждениями на момент их размещения и могут быть изменены без предупреждения.
        Представленная информация подготовлена на основе источников, которые, по мнению авторов являются надёжными,
        но при этом отражает исключительно мнение авторов относительно анализируемых объектов. Несмотря на то, что информация,
        представленная на данной странице, составлена с максимально возможной тщательностью, ни ее авторы,
        ни ООО ИК «КьюБиЭф» не заявляют и не гарантируют ни прямо, ни косвенно его точность и полноту.
      </p>

      <p>
        Копирование, воспроизводство и/или распространение материалов сайта,
        частично или полностью, без письменного разрешения ООО ИК «КьюБиЭф» запрещено.
      </p>
    </div>
</div>
</div>
