<app-logo class="logo" [routerLink]="['/']"></app-logo>
<div class="sidebar__body">
  <div class="sidebar__row">
    <div class="sidebar__slick" slick>
      <div class="sidebar__slide">
        <div class="sidebar__content">
          <div class="sidebar__img">
            <img src="/assets/images/Cabinet-Login/Slide-1-desktop-planshet.png" alt="">
          </div>
          <div class="sidebar__title">Доверительное управление активами</div>
        </div>
      </div>
      <div class="sidebar__slide">
        <div class="sidebar__content">
          <div class="sidebar__img">
            <img src="/assets/images/Cabinet-Login/Slide-2-desktop-planshet.png" alt="">
          </div>
          <div class="sidebar__title">Станьте совладельцем ведущих компаний</div>
        </div>
      </div>
      <!-- <div class="sidebar__slide">
        <div class="sidebar__content">
          <div class="sidebar__img">
            <img src="/assets/images/Cabinet-Login/Slide-3-desktop-planshet.png" alt="">
          </div>
          <div class="sidebar__title">Открытые инвестиционные паевые фонды</div>
        </div>
      </div> -->
      <div class="sidebar__slide">
        <div class="sidebar__content">
          <div class="sidebar__img">
            <img src="/assets/images/Cabinet-Login/Slide-4-desktop-planshet.png" alt="">
          </div>
          <div class="sidebar__title">Начните создавать<br> свое будущее<br> уже сегодня</div>
        </div>
      </div>
    </div>
    <a href="javascript:void(0)" class="arrow arrow_prev" slickPrev>
      <i>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 29.13">
          <defs>
            <style>
              .cls-1 {
                fill: none;
                stroke: #999;
                stroke-miterlimit: 10;
                stroke-width: 0.75px;
              }

            </style>
          </defs>
          <title>Ресурс 16</title>
          <g id="Слой_2" data-name="Слой 2">
            <g id="Content">
              <polyline class="cls-1" points="14.83 28.86 0.53 14.56 14.83 0.27"></polyline>
            </g>
          </g>
        </svg>
      </i>
    </a>
    <a href="javascript:void(0)" class="arrow arrow_next" slickNext>
      <i>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 29.13">
          <defs>
            <style>
              .cls-1 {
                fill: none;
                stroke: #999;
                stroke-miterlimit: 10;
                stroke-width: 0.75px;
              }

            </style>
          </defs>
          <title>Ресурс 16</title>
          <g id="Слой_2" data-name="Слой 2">
            <g id="Content">
              <polyline class="cls-1" points="14.83 28.86 0.53 14.56 14.83 0.27"></polyline>
            </g>
          </g>
        </svg>
      </i>
    </a>
  </div>
</div>
<div class="sidebar__footer">
  <div class="sidebar__footer-links">
    <ul>
      <li><a href="https://qbfin.ru/documents/privacy-policy/">Конфиденциальность</a></li>
      <li class="show_pc">|</li>
      <li>Техническая поддержка: <span class="br-mobile"></span> <a href="tel:+74959889821">+7 (495) 988 98 21</a></li>
      <li class="show_pc">|</li>
    </ul>
  </div>
  <a  class="sidebar__footer-copiright">QBF • {{year}}</a>
</div>