<app-layout>
  <app-top-panel class="top-panel flex" title="Добро пожаловать!" smallTitle=''></app-top-panel>
  <app-invest-modal></app-invest-modal>

  <div class="products-block faq faq-content-wrapper">
    <div class="faq__desc">
      <strong>Уважаемый Клиент!</strong>
      <p>Вы успешно зарегистрировали Кабинет клиента в компании QBF. В кабинете Вы можете ознакомиться с продуктами нашей компании, оформить их покупку и управлять своими действующими портфелями. </p>
      <p>Ниже представлены основные функции и возможности Вашего Кабинета. Если у вас возникли какие-то вопросы по работе Кабинета, пожалуйста, свяжитесь с нашими специалистами и мы поможем Вам. Тел:&nbsp;<a href="tel:+74959889821">+7&nbsp;(495)&nbsp;988&nbsp;98&nbsp;21</a> </p>
      <p>Постоянная ссылка на эту страницу с описанием возможностей Кабинета находится в разделе Функции - «Навигация по Кабинету».</p>
    </div>
    <div class="faq__row">

      <div class="faq__accordion ">
        <div class="faq__accordion-items flex">
          <div class="btn btn_with_img flex">
            <div>
              <img src="/assets/images/main-page/icon-1.svg" alt="">
            </div>
          </div>
          <div class="faq__accordion-block">
            <div class="faq__accordion-caption">Продукты</div>
            <div class="faq__accordion-arrow flex">
              <i>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 29.13"><defs><style>.cls-1{fill:none;stroke:#999;stroke-miterlimit:10;stroke-width:0.75px;}</style></defs><title>Ресурс 16</title><g id="Слой_2" data-name="Слой 2"><g id="Content"><polyline class="cls-1" points="14.83 28.86 0.53 14.56 14.83 0.27"></polyline></g></g></svg>
              </i>
            </div>
          </div>
        </div>
        <div class="faq__content">
          <div class="faq__block">
            <p><strong>Что такое Индивидуальный Инвестиционный Счет (ИИС)?</strong>Индивидуальный инвестиционный счет – это особый тип счета, который предоставляет владельцу право на получение налогового вычета либо на льготное налогообложение доходов, полученных в процессе инвестирования. <a routerLink="/what-is-iis">Подробнее ></a></p>
          </div>
          <div class="faq__block">
            <p><strong>Что такое Доверительное управление?</strong>Это процесс передачи финансовых активов (ценных бумаг) во временное руководство другому лицу (Инвестиционной компании) для получения финансовой выгоды. <a routerLink="/trust-management">Подробнее ></a></p>
          </div>
          <div class="faq__block">
            <p><strong>Что такое Брокерское обслуживание?</strong>Брокерское обслуживание - это покупка или продажа ценных бумаг по поручениям клиентов. Также брокер может проконсультировать своего клиента по той или иной ценной бумаге и дать рекомендации о ее приобретении. <a routerLink="/broker-service">Подробнее ></a></p>
          </div>
          <div class="faq__block">
            <p><strong>Как подобрать рекомендуемый продукт?</strong>Для того чтобы подобрать наиболее подходящий Вам продукт по соотношению доходности/надежности – пройдите краткий тест из максимум 4 вопросов и узнайте свой идеальный инвестиционный продукт QBF. <a routerLink="/select-product">Подробнее ></a></p>
          </div>
          <div class="faq__block">
            <p><strong>Как оформить покупку продукта?</strong>В выбранном Вами продукте нажать на кнопку “Инвестировать”, заполнить все необходимые данные (если Вы уже наш клиент – все данные автоматически будут заполнены), подписать с помощью СМС электронные документы и осуществить перевод денежных средств по выставленным реквизитам. Как только средства поступят на инвестиционный счет – Вы увидите всю информацию о Ваших ценных бумагах в разделе “Портфель”. <a>Подробнее ></a></p>
          </div>
          <div class="faq__block">
            <p><strong>Что такое Популярные продукты / Предложения сезона?</strong>В данном разделе представлены самые свежие предложения из всей линейки продуктов QBF. Новые стратегии Доверительного управления и актуальные инвестиционные идеи по конкретным инструментам фондового рынка. <a routerLink="/main/product-detail">Подробнее ></a></p>
          </div>
        </div>
      </div>
      <div class="faq__accordion ">
        <div class="faq__accordion-items flex">
          <div class="btn btn_with_img flex">
            <div>
              <img src="/assets/images/faq/2.svg" alt="">
            </div>
          </div>
          <div class="faq__accordion-block">
            <div class="faq__accordion-caption">Портфель клиента</div>
            <div class="faq__accordion-arrow flex">
              <i>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 29.13"><defs><style>.cls-1{fill:none;stroke:#999;stroke-miterlimit:10;stroke-width:0.75px;}</style></defs><title>Ресурс 16</title><g id="Слой_2" data-name="Слой 2"><g id="Content"><polyline class="cls-1" points="14.83 28.86 0.53 14.56 14.83 0.27"></polyline></g></g></svg>
              </i>
            </div>
          </div>
        </div>
        <div class="faq__content">
          <div class="faq__block">
            <p><strong>Что такое инвестиционный портфель?</strong>Это Ваш портфель инвестиционных продуктов QBF. Портфель может состоять из разных стратегий Доверительного управления и включать ценные бумаги, которые Вы покупаете самостоятельно.
              <a [routerLink]="'/portfolio'">Посмотреть ></a>
            </p>
          </div>
          <div class="faq__block">
            <p><strong>Что такое общая стоимость портфеля?</strong>Совокупный баланс всех свободных денежных средств и рыночная стоимость купленных ценных бумаг на Вашем инвестиционном счете.
              <a [routerLink]="'/portfolio'">Посмотреть ></a>
            </p>
          </div>
          <div class="faq__block">
            <p><strong>Что такое тариф (комиссия) по продукту?</strong>Определенная плата клиента за пользование нашими услугами. В стратегиях Доверительного управления это процент за управление портфелем и процент за успех. По Брокерским услугам предусмотрены комиссии за совершение торговых операций и за обслуживание счета.
              <a [routerLink]="'/portfolio'">Посмотреть ></a>
            </p>
          </div>
          <div class="faq__block">
            <p><strong>Что такое дата открытия счета?</strong>Дата, когда Вы оформили данный продукт.
              <a [routerLink]="'/portfolio'">Посмотреть ></a>
            </p>
          </div>
          <div class="faq__block">
            <p><strong>Что такое целевая доходность?</strong>Доходность, к которой ежегодно стремятся наши управляющие. Рассчитывается исходя из набора ценных бумаг в продукте и стратегии управления.
              <a [routerLink]="'/portfolio'">Посмотреть ></a>
            </p>
          </div>
          <div class="faq__block">
            <p><strong>Что отображает круговая диаграмма?</strong>Распределение Ваших продуктов или ценных бумаг в зависимости от их доли в общем портфеле/продукте.
              <a [routerLink]="'/portfolio'">Посмотреть ></a>
            </p>
          </div>
          <div class="faq__block">
            <p><strong>Что такое эмитенты?</strong>Это компании, которые выпустили (произвели эмиссию) ценных бумаг на фондовый рынок.
              <a [routerLink]="'/portfolio'">Посмотреть ></a>
            </p>
          </div>
          <div class="faq__block">
            <p><strong>Почему дата, на которую отображается стоимость ценных бумаг – не совпадает с текущей датой?</strong>В продуктах Доверительного управления мы отображаем структуру ценных бумаг, которая была в Вашем портфеле 10 дней назад. То, что куплено у Вас в портфеле на сегодня – является интеллектуальной собственностью компании QBF. По продуктам брокерского обслуживания Вы видите актуальные данные ежедневно.
              <a [routerLink]="'/portfolio'">Посмотреть ></a>
            </p>
          </div>
          <div class="faq__block">
            <p><strong>Как я могу посмотреть отчет за месяц?</strong>Достаточно зайти в активный продукт, выбрать раздел “Посмотреть отчеты” и открыть нужный Вам отчет.
              <a [routerLink]="'/portfolio'">Посмотреть ></a>
            </p>
          </div>
          <div class="faq__block">
            <p><strong>Что показывает график доходности?</strong>На графике доходности Вы можете увидеть ежемесячную динамику доходности конкретного продукта.
              <a [routerLink]="'/portfolio'">Посмотреть ></a>
            </p>
          </div>
          <div class="faq__block">
            <p><strong>Что показывает график баланса?</strong>На графике баланса Вы можете увидеть все движение Ваших денежных средств и оценочной стоимости ценных бумаг по конкретному продукту с момента открытия счета.
              <a [routerLink]="'/portfolio'">Посмотреть ></a>
            </p>
          </div>
          <div class="faq__block">
            <p><strong>Где я могу посмотреть свои подписанные документы (договоры)?</strong>Достаточно зайти в активный продукт, выбрать раздел “Подписанные документы” и Вы увидите все подписанные документы по конкретному продукту.
              <a [routerLink]="'/portfolio'">Посмотреть ></a>
            </p>
          </div>
          <div class="faq__block">
            <p><strong>Где я могу посмотреть свои операции с денежными средствами?</strong>Достаточно зайти в активный продукт, выбрать раздел “Посмотреть ввод / вывод средств” и Вы увидите все транзакции по вводу и выводу средств по конкретному продукту. Эти данные включают и списание комиссий, и перевод средств между продуктами.
              <a [routerLink]="'/portfolio'">Посмотреть ></a>
            </p>
          </div>
          <div class="faq__block">
            <p><strong>Как я могу заказать вывод денежных средств?</strong>Обратившись в офис компании QBF и заполнив заявление на вывод. Подать уведомление о выводе денежных средств Вы можете в разделе “Заказать вывод денежных средств” из активного продукта. С Вами свяжется финансовый советник и назначит встречу.
              <a [routerLink]="'/portfolio'">Посмотреть ></a>
            </p>
          </div>
          <div class="faq__block">
            <p><strong>Брокерское обслуживание – как я могу купить / продать ценные бумаги?</strong>Из активного продукта Брокерского обслуживания выбрать раздел “Купить / продать ценные бумаги”. В этом разделе с помощью онлайн заявки Вы сможете осуществить торговую сделку с ценными бумагами.
              <a [routerLink]="'/portfolio'">Посмотреть ></a>
            </p>
          </div>

        </div>
      </div>
      <div class="faq__accordion ">
        <div class="faq__accordion-items flex">
          <div class="btn btn_with_img flex">
            <div>
              <img src="/assets/images/faq/4.svg" alt="">
            </div>
          </div>
          <div class="faq__accordion-block">
            <div class="faq__accordion-caption">Реквизиты / Оплата / Пополнение счета</div>
            <div class="faq__accordion-arrow flex">
              <i>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 29.13"><defs><style>.cls-1{fill:none;stroke:#999;stroke-miterlimit:10;stroke-width:0.75px;}</style></defs><title>Ресурс 16</title><g id="Слой_2" data-name="Слой 2"><g id="Content"><polyline class="cls-1" points="14.83 28.86 0.53 14.56 14.83 0.27"></polyline></g></g></svg>
              </i>
            </div>
          </div>
        </div>
        <div class="faq__content">
          <div class="faq__block">
            <p><strong>Как мне сформировать реквизиты для пополнения счета?</strong>Перейти в раздел “Реквизиты”, выбрать активный продукт и указать желаемую сумму для перевода. Реквизиты будут сформированы автоматически. Вам достаточно выбрать один из трех наших банков – куда переводить денежные средства.
              <a [routerLink]="'/payment'">Перейти на страницу: Реквизиты ></a>
            </p>
          </div>
          <div class="faq__block">
            <p><strong>Как мне пополнить счет по реквизитам?</strong>Для пополнения счета – Вы должны осуществить перевод денежных средств по выставленным реквизитам. Вы можете воспользоваться своим онлайн-банком, осуществить перевод через отделение своего банка или отправить данные реквизиты своему персональному менеджеру в банке.<br> Также в разделе Реквизиты Вы можете воспользоваться стандартным переводом с карты ипополнить счет.<br> Если Вы являетесь клиентом Альфа-банка, Сбербанка или банка Тинькоф – то Вы можете автоматически выставить себе электронный счет в своем онлайн банке, нажав на соответствующую кнопку с эмблемой банка. Останется только подтвердить перевод.
              <a [routerLink]="'/payment'">Перейти на страницу: Реквизиты ></a>
            </p>
          </div>
          <div class="faq__block">
            <p><strong>Почему три разных банка?</strong>У компании QBF открыты счета в трех банках – Альфа-банк, Сбербанк, НРД. Сделано для удобства клиента – если он является клиентом одного из данных банков – перевод для него будет стоить дешевле или вообще без комиссии. Если Вы не являетесь клиентом данных банков – переводить средства лучше сразу в банк НРД – в нем быстрее всего средства зачисляются на инвестиционный счет.
              <a [routerLink]="'/payment'">Перейти на страницу: Реквизиты ></a>
            </p>
          </div>
          <!--div class="faq__block">
              <p><strong>Как оплатить банковской картой?</strong>Перейти на страницу реквизитов – выбрать активный продукт и осуществить перевод в разделе “Оплата банковской картой”. <a href="requisites.html">Перейти на страницу: Реквизиты ></a></p>
          </div-->
        </div>
      </div>
      <div class="faq__accordion ">
        <div class="faq__accordion-items flex">
          <div class="btn btn_with_img flex">
            <div>
              <img src="/assets/images/faq/5.svg" alt="">
            </div>
          </div>
          <div class="faq__accordion-block">
            <div class="faq__accordion-caption">Аккаунт клиента</div>
            <div class="faq__accordion-arrow flex">
              <i>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 29.13"><defs><style>.cls-1{fill:none;stroke:#999;stroke-miterlimit:10;stroke-width:0.75px;}</style></defs><title>Ресурс 16</title><g id="Слой_2" data-name="Слой 2"><g id="Content"><polyline class="cls-1" points="14.83 28.86 0.53 14.56 14.83 0.27"></polyline></g></g></svg>
              </i>
            </div>
          </div>
        </div>
        <div class="faq__content">
          <div class="faq__block">
            <p><strong>Зачем компании мои персональные данные?</strong>Для оформления нового продукта нам необходимо составить для клиента договор, в котором указываются персональные данные. <a routerLink="/account">Перейти на страницу: Аккаунт клиента ></a></p>
          </div>
          <div class="faq__block">
            <p><strong>Зачем компании мои банковские реквизиты?</strong>В случае возврата денежных средств – клиенту отправляются средства на указанные реквизиты. <a routerLink="/account">Перейти на страницу: Аккаунт клиента ></a></p>
          </div>
          <!--                    <div class="faq__block">-->
          <!--                        <p><strong>Зачем компании мой СНИЛС?</strong>-->
          <!--                            Euismod lacus ut velit tellus malesuada velit Curabitur quis semper a. Egestas eros quis sapien eu nunc Pellentesque Nulla Aenean congue magna. Nibh felis Morbi id iaculis tellus laoreet molestie Curabitur lorem Proin. <a routerLink="/account">Перейти на страницу: Аккаунт клиента ></a></p>-->
          <!--                    </div>-->
          <div class="faq__block">
            <p><strong>Зачем компании мой ИНН?</strong>ИНН входит в перечень обязательной информации о клиенте, так как компания QBF является налоговым агентом и уплачивает НДФЛ по инвестиционному счету клиента. <a routerLink="/account">Перейти на страницу: Аккаунт клиента ></a></p>
          </div>
          <div class="faq__block">
            <p><strong>Как мне менять пароль от Личного кабинета?</strong>Достаточно зайти в раздел Аккаунт и выбрать опцию – Сменить пароль от Личного кабинета. Необходимо будет ввести СМС с кодом и подтвердить смену пароля через электронную почту. <a routerLink="/account">Перейти на страницу: Аккаунт клиента ></a></p>
          </div>
          <div class="faq__block">
            <p><strong>Как загрузить скан паспорта?</strong>При оформлении нового продукта или в разделе Аккаунт достаточно воспользоваться кнопкой Загрузки скана паспорта. Необходимо будет прикрепить первую страницу и страницу с пропиской. <a routerLink="/account">Перейти на страницу: Аккаунт клиента ></a></p>
          </div>
          <div class="faq__block">
            <p><strong>Как мне ознакомиться с ЭДО?</strong>ЭДО – файл с регламентом электронного документооборота – с ним можно ознакомиться в разделе Аккаунт, внизу страницы, либо в Подписанных документах конкретного продукта. <a routerLink="/account">Перейти на страницу: Аккаунт клиента ></a></p>
          </div>
          <div class="faq__block">
            <p><strong>Где я могу ознакомиться с текстом «Согласие на обработку персональных данных»?</strong>С данной информацией можно ознакомиться в разделе Аккаунт, внизу страницы, либо в Подписанных документах конкретного продукта. <a routerLink="/account">Перейти на страницу: Аккаунт клиента ></a></p>
          </div>
        </div>
      </div>
      <div class="faq__accordion ">
        <div class="faq__accordion-items flex">
          <div class="btn btn_with_img flex">
            <div>
              <img src="/assets/images/faq/3.svg" alt="">
            </div>
          </div>
          <div class="faq__accordion-block">
            <div class="faq__accordion-caption">Функции Личного кабинета</div>
            <div class="faq__accordion-arrow flex">
              <i>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 29.13"><defs><style>.cls-1{fill:none;stroke:#999;stroke-miterlimit:10;stroke-width:0.75px;}</style></defs><title>Ресурс 16</title><g id="Слой_2" data-name="Слой 2"><g id="Content"><polyline class="cls-1" points="14.83 28.86 0.53 14.56 14.83 0.27"></polyline></g></g></svg>
              </i>
            </div>
          </div>
        </div>
        <div class="faq__content">
          <div class="faq__block">
            <p><strong>Где посмотреть уведомления / сообщения от компании?</strong>В разделе Функции – Уведомления / сообщения, либо вверху страницы, кликнув на значек письма.
              <a [routerLink]="'/notices'">Посмотреть ></a>
            </p>
          </div>
          <div class="faq__block">
            <p><strong>Что такое FAQ?</strong>Раздел, в котором Вы сейчас находитесь. В нем собраны самые основные вопросы и ответы на них. </p>
          </div>
        </div>
      </div>

      <div class="faq__accordion ">
        <div class="faq__accordion-items flex">
          <div class="btn btn_with_img flex">
            <div>
              <img src="/assets/images/faq/6.svg" alt="">
            </div>
          </div>
          <div class="faq__accordion-block">
            <div class="faq__accordion-caption">Техническая поддержка аккаунта</div>
            <div class="faq__accordion-arrow flex">
              <i>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 29.13"><defs><style>.cls-1{fill:none;stroke:#999;stroke-miterlimit:10;stroke-width:0.75px;}</style></defs><title>Ресурс 16</title><g id="Слой_2" data-name="Слой 2"><g id="Content"><polyline class="cls-1" points="14.83 28.86 0.53 14.56 14.83 0.27"></polyline></g></g></svg>
              </i>
            </div>
          </div>

        </div>
        <div class="faq__content">
          <div class="faq__block">
            <p><strong>Как мне обратиться в службу технической поддержки?</strong>Вы можете позвонить по номеру +7 (495) 988 98 21 и Вам ответит специалист технической поддержи, который проконсультирует по всем техническим вопросам личного кабинета. <a href="tel:+74959889821">Позвонить ></a><a href="mailto:mail@mail.ru" target="_blank">Написать ></a></p>
          </div>
          <div class="faq__block">
            <p><strong>Как мне позвонить, написать или назначить встречу с финансовым советником?</strong>На каждой странице Кабинета в левой стороне экрана (компьютер), либо в разделе Меню (мобильные устройства) находится информация для быстрой связи с финансовым советником Клиента. </p>
            <p>Клиент может позвонить в компанию QBF и его оперативно соединят со специалистом. Также здесь есть возможность написать электронное письмо своему финансовому советнику или запланировать встречу на конкретную дату и время.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer-slick></app-footer-slick>
</app-layout>
