<div class="main__title">Онлайн-заявка</div>
<a href="#"
   class="bo-list__contanier bo-list__contanier_items flex">
  <div class="bo-list__img bo-list__img_full">
    <img src="/assets/images/your-case-brokerage-service-base-rate-product-details/1.png" class="bo-list__img-desktop"
         alt="">
  </div>
  <div class="bo-list__info bo-list__info_items">
    <div class="bo-list__name">Купить / Продать<br> ценные бумаги</div>
    <div class="bo-list__link">Здесь и сейчас</div>
  </div>
</a>
<div class="bo-list__description">Оставить онлайн-заявку Финансовому советнику QBF на покупку или продажу
  ценных бумаг, включая акции и облигации российских и зарубежных эмитентов.
</div>
<a class="bo-list__btn btn btn_darkgray" href="your-case-brokerage-service-base-rate-online-request.html">Оставить
  заявку</a>
