<div data-slides="3" slick [items]="items" *ngIf="items.length" [responsive]="true">
    <div class="bo-body__slider" *ngFor="let item of items">
        <div class="bo-body__img">
            <img [src]="getImage(item)" alt="">
        </div>
        <div class="bo-body__name">{{item.name}}</div>
        <div class="bo-body__value">
            <div class="bo-body__coll">
                <div class="bo-body__potential-value">{{item.GROW_RATE}}%</div>
                <div *ngIf="item.ITEM_TYPE === 'Акции';else oblig"  class="bo-body__desc">потенциал роста</div>
                <ng-template #oblig>
                    <div class="bo-body__desc">доходность к погашению</div>
                </ng-template>
            </div>
            <!-- <div class="bo-body__coll">
                <div class="bo-body__rating-name">{{item.RATING}}</div>
                <div class="bo-body__desc">рейтинг</div>
            </div> -->
        </div>
        <div class="bo-body__text" [innerHTML]="item.previewText"></div>

       <div class="bo-body__buttons-wrapper flex">
         <a   class="iis-link not-iis-link remove-fancybox-mobile" data-fancybox data-type="iframe"
               [href]="'api/cabinet/pdfProductAnalytic/' + item.ANALITICS_FILE" (click)="ifIEOpenNewTab($event)">Подробнее ></a>

          <!-- <a class="bo-list__btn btn btn_darkgray" *ngIf="!productInstalled" data-src="#invest-modal" data-fancybox
             data-modal="true">Какая угодно кнопка</a>
          <a class="bo-list__btn btn btn_darkgray" *ngIf="productInstalled" [routerLink]="['/online-request']" (click)="invest(item.id)"
             data-modal="true">Какая угодно кнопка</a> -->
       </div>
      </div>
</div>
<div class="bo-body__arrow bo-body__arrow_left" slickPrev>
    <i>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 29.13">
            <defs>
                <style>
                    .cls-1 {
                        fill: none;
                        stroke: #999;
                        stroke-miterlimit: 10;
                        stroke-width: 0.75px;
                    }
                </style>
            </defs>
            <title>Ресурс 16</title>
            <g id="Слой_2" data-name="Слой 2">
                <g id="Content">
                    <polyline class="cls-1" points="14.83 28.86 0.53 14.56 14.83 0.27"></polyline>
                </g>
            </g>
        </svg>
    </i>
</div>
<div class="bo-body__arrow bo-body__arrow_right" slickNext>
    <i>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 29.13">
            <defs>
                <style>
                    .cls-1 {
                        fill: none;
                        stroke: #999;
                        stroke-miterlimit: 10;
                        stroke-width: 0.75px;
                    }
                </style>
            </defs>
            <title>Ресурс 16</title>
            <g id="Слой_2" data-name="Слой 2">
                <g id="Content">
                    <polyline class="cls-1" points="14.83 28.86 0.53 14.56 14.83 0.27"></polyline>
                </g>
            </g>
        </svg>
    </i>
</div>
