<div [class.site-content__title]="mode==MODE_UNAUTH" [class.register__title]="mode==MODE_AUTH">Придумайте новый пароль
</div>
<a href="javascript:void(0)" [class.site-content__modal]="mode==MODE_UNAUTH"
   [class.register__link]="mode==MODE_AUTH" data-src="#password-modal" data-fancybox=""
   data-modal="true">Как создать хороший пароль &gt;</a>
<div class="errors" *ngIf="errors.length">
  <div class="errors__item" *ngFor="let error of errors">{{error}}</div>
</div>
<form class="register__form" [formGroup]="form"  (ngSubmit)="onSubmit()" novalidate>
  <div [class.register__form-box]="mode==MODE_AUTH">
    <label class="settings__label">
      <div class="settings__field-name" *ngIf="mode==MODE_UNAUTH">Создайте пароль</div>
      <input type="password"
             [class.settings__field]="mode==MODE_UNAUTH"
             [class.register__field]="mode==MODE_AUTH"
             class="field" [placeholder]="mode==MODE_UNAUTH ? '* * * * * * *' : 'Новый пароль'"
             formControlName="password">
        <div class="error_flex">
          <div class="field__error_new" *ngIf="form.get('password').hasError('required') && form.get('password').touched">Поле
            не может быть пустым
          </div>
          <div class="field__error_new" *ngIf="form.get('password').hasError('minlength') && form.get('password').touched">Длина пароля не менее 8 символов
          </div>
          <div class="field__error_new" *ngIf="form.get('password').hasError('hasNumber') && form.get('password').touched">Отсутствует цифра
          </div>
          <div class="field__error_new" *ngIf="form.get('password').hasError('hasCapitalCase') && form.get('password').touched">Отсутствует буква в верхнем регистре
          </div>
          <div class="field__error_new" *ngIf="form.get('password').hasError('hasSmallCase') && form.get('password').touched">Отсутствует буква в нижнем регистре
          </div>
          <div class="field__error_new" *ngIf="form.get('password').hasError('hasSpecialCharacters') && form.get('password').touched">Отсутствует специальный символ &#91;&#93;&#33;&#64;&#35;&#36;&#37;&#94;&#38;&#42;&#40;&#41;&#95;&#43;&#45;&#61;&#123;&#125;&#59;&#39;&#58;&#34;&#124;&#44;&#46;&#60;&#62;
          </div>
        </div>
    </label>
    <label class="settings__label">
      <div class="settings__field-name" *ngIf="mode==MODE_UNAUTH">повторите пароль</div>
      <input type="password"
             [class.settings__field]="mode==MODE_UNAUTH"
             [class.register__field]="mode==MODE_AUTH"
             class="field" [placeholder]="mode==MODE_UNAUTH ? '* * * * * * *' : 'Повторите пароль'"
             formControlName="repeatPassword">
      <div class="field__error"
           *ngIf="form.get('repeatPassword').hasError('required') && form.get('repeatPassword').touched">Поле не может
        быть пустым
      </div>
      <div class="field__error"
           *ngIf="form.get('repeatPassword').hasError('matchPassword') && form.get('repeatPassword').touched">Пароли
        должны совпадать
      </div>
    </label>
  </div>
  <div *ngIf="mode==MODE_UNAUTH" class="settings__buttons settings__buttons_top flex">
    <div class="settings__button">
      <button type="submit" class="btn btn_darkgray" [disabled]="form.get('repeatPassword').hasError('matchPassword') && form.get('repeatPassword').touched" >Сохранить</button>
    </div>
    <div class="settings__button">
      <a type="button" class="btn btn_small" routerLink="/auth/sign-in">Отмена</a>
    </div>
  </div>
  <div *ngIf="mode==MODE_AUTH" class="register__form-box">
    <button type="submit" class="btn btn_darkgray">Подтвердить</button>
    <a type="button" class="btn btn_small" routerLink="/account">Отмена</a>
  </div>
</form>


<div id="password-modal" style="display: none;">
  <div class="modal__password">
    <div class="modal__content">
      <div class="modal__desckription">
        <p>Пароль должен содержать не менее 6 символов. Можно использовать латинские буквы, цифры и символы из
          списка:</p>
        <p>{{'‘ ! @ # $ % ^ & ( ) _ = + - [ ] { } ; : " | , . <> / ?'}}</p>
        <p>Пароль не может совпадать с логином.</p>
      </div>
      <a class="btn btn_darkgray" data-fancybox-close>Закрыть</a>
    </div>
  </div>
</div>
