<app-layout>

    <form action="#" class="requister__form">
        <app-top-panel [modeUnderline]="true" class="top-panel top-panel_requister flex"
                       title="Реквизиты для оплаты<br> подключенных продуктов" smallTitle=''></app-top-panel>

        <div class="payment payment-step3">
            <div class="payment-step3__box-content">
                <div class="payment__block-desc">
                    <p><strong>Официальные реквизиты компании ИК «КьюБиЭф».
                        Вы можете осуществить перевод денежных средств для оплаты договора в удобном для Вас
                        банке.</strong></p>
                </div>
                <div class="payment-step3__caption settings__title--js">
                    <span>3 способа перевода средств по реквизитам:</span>
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 29.13">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: none;
                                        stroke: #999;
                                        stroke-miterlimit: 10;
                                        stroke-width: 0.75px;
                                    }
                                </style>
                            </defs>
                            <title></title>
                            <g id="Слой_2" data-name="Слой 2">
                                <g id="Content">
                                    <polyline class="cls-1" points="14.83 28.86 0.53 14.56 14.83 0.27"></polyline>
                                </g>
                            </g>
                        </svg>
                    </i>
                </div>
                <div class="payment-step3__list settings__items--js active settings__items_hide">
                    <ol>
                        <li>Вы можете обратиться в отделение своего банка и осуществить перевод.</li>
                        <li>Вы можете самостоятельно осуществить перевод через свой онлайн-банк по данным реквизитам.
                        </li>
                        <li>Вы можете передать данные реквизиты персональному менеджеру в вашем банке для осуществления
                            перевода.
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="products-block faq requister payment-wrapper" *ngIf="products">
            <div class="faq__row">
                <div class="faq__accordion " #stepOne>
                    <div class="faq__accordion-items flex" [class.active]="stepOpen==1" (click)="stepOpen=1;">
                        <div class="btn btn_with_img flex">
                            <div>
                                1
                            </div>
                        </div>
                        <div class="faq__accordion-block">
                            <div class="faq__accordion-caption" *ngIf="!this.selectedProduct">Выбор продукта</div>
                            <div class="faq__accordion-caption" *ngIf="this.selectedProduct">Продукт
                                "{{this.selectedProduct.product.name}}"
                            </div>
                            <div class="faq__accordion-arrow flex">
                                <div class="faq__accordion-arrow__caption">
                                    <span *ngIf="stepOpen !== 1">Развернуть</span>
                                    <span *ngIf="stepOpen == 1">Свернуть</span>
                                </div>
                                <i>
                                    <span>></span>
                                </i>
                            </div>
                        </div>
                    </div>
                    <div class="faq__content" [class.active]="stepOpen==1">
                        <div class="requister__box">
                            <div class="requister__title">Выберите продукт
                            </div>
                            <div class="requister__subtitle">В данном разделе Вам необходимо выбрать подключенный
                                продукт, на который
                                Вы хотите перевести дополнительные денежные средства.
                                После выбора продукта введите сумму пополнения в нужное поле.
                                После ввода суммы переходите к шагу 3 и выберите банк для перевода средств.
                            </div>
                            <div class="requister__form-items flex" *ngFor="let product of products">
                                <div class="requister__form__content mt-y-15">
                                    <div class="requister__form-coll">
                                        <div class="requister__form-coll__content">
                                            <div class="requister__form-name">{{product.product.name}}</div>
                                            <div class="requister__form-balance">Текущий баланс: <span
                                                    class="green">{{ getBalance(product) | number:'1.2-2':'ru-RU'}} <span class="rur">₽</span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="requister__form-column">
                                        <a class="btn btn_darkgray" (click)="setProduct(product.id);scrollTo(stepOne)">Пополнить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq__accordion js-step-two" #stepTwo>
                    <div class="faq__accordion-items flex" [class.active]="stepOpen==2" (click)="stepTwoInit()">
                        <div class="btn btn_with_img flex">
                            <div [class.disabled]="!this.selectedProduct">
                                2
                            </div>
                        </div>
                        <div class="faq__accordion-block">
                            <div class="faq__accordion-caption">Ввод суммы</div>
                            <div class="faq__accordion-arrow flex">
                                <div class="faq__accordion-arrow__caption">
                                    <span *ngIf="stepOpen!==2">Развернуть</span>
                                    <span *ngIf="stepOpen==2">Свернуть</span>
                                </div>
                                <i>
                                    <span>></span>
                                </i>
                            </div>
                        </div>
                    </div>
                    <div class="faq__content" [class.active]="stepOpen==2">
                        <div class="requister__box">
                            <div class="requister__title">Введите сумму пополнения баланса
                            </div>
                            <div class="requister__form-items flex">
                                <form (ngSubmit)="stepThreeInit();" [formGroup]="form" class="requister__form__content" style="width: 100%;">
                                    <div class="requister__form-column column-sum">
                                      <div class="requister__form-product-data">
                                      <div class="requister__form-name" *ngIf="this.selectedProduct">{{this.selectedProduct.product.name}}</div>
                                        <div class="requister__form-balance" *ngIf="this.selectedProduct">Текущий баланс: <span
                                            class="green">{{ getBalance(this.selectedProduct) | number:'1.2-2':'ru-RU'}} <span class="rur">₽</span></span>
                                        </div>
                                      </div>
                                        <input type="text"
                                               formControlName="summ" #summInput
                                               class="js-step-two-input requister__form-field field"
                                               placeholder="Введите сумму"
                                               maxlength="9">
                                        <div class="requister__form-label padding-x-big">
                                            <a class="currency-select"
                                               [ngClass]="{last: last, active: (this.currency == cur) || currencies.length === 1}"
                                               *ngFor="let cur of currencies; last as last" (click)="setCurrency(cur)">
                                                <span>{{getCurrencyTitle(cur)}}</span></a>
                                        </div>
                                    </div>
                                    <div class="requister__form-column column-btn">
                                        <button type='submit' [disabled]="this.form.get('summ').invalid" class="btn btn_darkgray">Продолжить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="requister__box"
                             *ngIf="this.selectedProduct && this.selectedProduct.product.ITEM_TYPE == 'Брокерское обслуживание'">
                            <div class="requister__title">Выберите рынок ценных
                                бумаг
                            </div>
                            <div class="requister__subtitle">В данном разделе необходимо выбрать рынок, на котором Вы
                                будете
                                осуществлять торговые операции с ценными бумагами.
                            </div>
                            <div class="requister__form-list">
                                <label class="checkbox">
                  <span class="checkbox__first flex">
                    <input type="radio" name="type" [checked]="market == 'moscow'" class="checkbox__input"
                           (click)="setMarket('moscow')">
                    <span class="checkbox__theme"></span>
                  </span>
                                    <span class="checkbox__caption">Фондовый рынок ПАО «Московская биржа»</span>
                                </label>
                            </div>
                            <div *ngIf="currency!=='USD'" class="requister__form-list">
                                <label class="checkbox">
                  <span class="checkbox__first flex">
                    <input type="radio" name="type" [checked]="market == 'spb'" class="checkbox__input"
                           (click)="setMarket('spb')">
                    <span class="checkbox__theme"></span>
                  </span>
                                    <span class="checkbox__caption">Санкт-Петербургская биржа – торговля ценными бумагами, которые
                    котируются на СПБ бирже</span>
                                </label>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="faq__accordion" #stepThree>
                    <div class="faq__accordion-items flex" [class.active]="stepOpen==3" (click)="stepThreeInit()">
                        <div class="btn btn_with_img flex">
                            <div [class.disabled]="!form.summ">
                                3
                            </div>
                        </div>
                        <div class="faq__accordion-block">
                            <div class="faq__accordion-caption"> Оплата</div>
                            <div class="faq__accordion-arrow flex">
                                <div class="faq__accordion-arrow__caption">
                                    <span *ngIf="stepOpen!==3">Развернуть</span>
                                    <span *ngIf="stepOpen==3">Свернуть</span>
                                </div>
                                <i>
                                    <span>></span>
                                </i>
                            </div>
                        </div>
                    </div>
                    <div class="faq__content" [class.active]="stepOpen==3">


                        <div class="requister__box" *ngIf="this.selectedProduct">
                            <div class="requister__title">Выберите банк для перевода
                            </div>
                            <div class="requister__subtitle">Официальные реквизиты компании ИК «КьюБиЭф». Вы можете
                                осуществить
                                перевод денежных средств для оплаты договора,
                                используя любые реквизиты данных банков.
                            </div>
                            <div class="payment-step3__row flex">
                                <div class="payment-step3__coll" *ngFor="let requisite of requisitesToShow">
                                    <div class="payment-step3__coll-top">
                                        <div class="payment-step3__logo">
                                            <img [src]="getImage(requisite)" alt="">
                                        </div>
                                        <div class="payment-step3__name">{{requisite.NAME}}</div>
                                    </div>
                                    <div class="payment-step3__coll-bottom">
                                        <div class="payment-step3__desc">{{requisite.PREV_TEXT}}
                                        </div>
                                       <div class="payment-step3__button-wrapper">
                                          <a [routerLink]="'/payment-details/'+this.selectedProduct.id"
                                             [queryParams]="{bank:requisite.CODE, summ:form.get('summ').value, market:market, currency: currency, type:requisite.ITEM_TYPE}"
                                             class="btn btn_darkgray">Получить
                                              реквизиты</a>
                                              <div *ngIf="requisite.ACQUIRING"
                                                (click)="getAcquiring(requisite.CODE)"
                                                class="btn btn_darkgray acquiring">Пополнить с карты</div>
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="requister__subtitle requister__subtitle__remarks">
        <div class="requister__subtitle-divider"></div>
        <ol>
            <li>Перевод денежных средств возможен только от лица, кто является владельцем счета.</li>
            <li>Максимальный перевод на&nbsp;ИИС (Индивидуальный Инвестиционный Счёт) может быть не&nbsp;более чем 1&nbsp;000&nbsp;000
            рублей в&nbsp;год</li>
        </ol>
    </div>
</app-layout>
